<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="home">Главная</a></li>
      <li *ngIf="authService.isAuth"><a>Путешествия</a></li>
      <li *ngIf="authService.isAuth"><a>Клубы</a></li>
      <li *ngIf="authService.isAuth"><a>Активности</a></li>
      <li *ngIf="authService.isAuth"><a>Сообщения</a></li>
    </ul>

    <a *ngIf="!authService.isAuth" class="waves-effect waves-light btn" (click)="onClick()">Войти</a>
    <a *ngIf="!authService.isAuth" class="waves-effect waves-light btn" (click)="onRegistr()">Регистрация</a>
    <a *ngIf="authService.isAuth" class="waves-effect waves-light btn" (click)="onLogOut()">Выйти</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<div class="container">-->
  <!--->
<!--</div>-->
