.item {
  display: -webkit-inline-flex;
  display: inline-flex; /*отображает контейнер как строчный элемент*/
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

.main_grow{
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.icon{
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label + input[type=radio] + label {
}

.radio {
  display: inline-block;
  overflow: hidden;
}
.radio input:checked + label {

  background-color: rgba(0,0,0,0.1);
}

.radio + label {
  display: inline-block;

  transition: background-color .3s;
  font-size: 1rem;

  padding: 0 15px;
  cursor: pointer;
}

.radio_label{
  cursor: pointer;
  font-size: 1.25rem;
  color: black;
  padding: 0 15px;
  display: inline-block;
}
